.movie__list {
	padding: 0 3rem 3rem 3rem;
}

.list {
	&__title {
		font-size: 1.75rem;
		margin: 2.5rem;
	}
	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		a {
			text-decoration: none;
			color: #fff;
		}
	}
}